

/************************
Nav Bar 
*************************/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700);


/* Nav Screen */


ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  color: white;
}
.nav-screen {
  height: 100%;
  z-index: 500;
  position: fixed;
  background-color: #000;
  opacity: 1;
  right: -285px; /* start off behind the scenes */
  -webkit-font-smoothing: antialiased;
  width: 285px;
}

.nav-screen .active {
  display: block;
}

/* nav header links */

.nav-brand {
  position: fixed;
  left: 0;
  z-index: 600;
  padding: 10px;
}

.nav-brand img {
  width: 10vw;
}

.fa-bars {
  display: none !important;
  color: #ff6363;
  float: right;
  padding: 20px;
  position: fixed;
  right: 0;
  z-index: 500;
  cursor: pointer;
}

.fa-times {
  color: #ff6363;
  float: right;
  padding: 20px;
  right: 0;
  z-index: 600;
  cursor: pointer;
}

.header-links {
  /* to make it blend in background */
  position: fixed;
  width: 100%;
  z-index: 500;
}

.header-links li {
  color: white;
  display: inline;
  float: right;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.header-links a {
  color: white;
  /* background-color: #80D0C7;  ; */
  background-image: linear-gradient(to right, #80D0C7, #097b6e);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 500ms; 
}

.header-links a:hover {
  background-size: 100% 100%; 
  background-position-x: left;
}
